.navbar {
  width: 100%;
  min-width: 250px;
  overflow: auto;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100px;

  .notification-icon {
    border: none;
    margin-right: 10px;
    .ant-badge-count {
      font-size: 10px;
      line-height: 13px;
      padding: 0 3px;
      height: 14px;
      margin-top: 10px;
      margin-right: 4px;
      border-radius: 0px;
      border: transparent;
      box-shadow: 0 0 0 1px rgb(199, 0, 10);
    }
  }
}

.avatar {
  background-color: #1890ff !important;
  // vertical-align: middle;
  cursor: pointer;
}
.transparent-button {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  font: 20px;
  font-weight: bold;
}
